langchain
langchain-community
langchain-core
langchain-text-splitters
langchain_huggingface
langchain_chroma
langchain_groq
#langchain-openai
python-dotenv
streamlit
pypdf
pymupdf
chromadb
sentence_transformers
bs4
arxiv
wikipedia
faiss-cpu
duckdb
pandas
# openai
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
pathlib
huggingface-hub
langchain_nvidia_ai_endpoints
crewai
langchain_google_genai
crewai_tools
ipykernel
langchain_experimental
